* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #18191a;
}
nav {
  gap: 470px;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 0;
  
  background-color: #1c1e21;
  height: 50px;
  opacity: 2;
  border-bottom: 1px solid #4e4b4a;
}

.logo {
  color: #eee4e1;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 35px;
  position: relative;
  left: 38px;
  top: 0px;
}
.links {
  gap: 25px;
  position: relative;
  display: flex;
  top: 16px;
  right: 20px;
  list-style: none;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
.links a {
  color: #eee4e1;
  text-decoration: none;
  font-size: 17px;
}

a.effect-underline:after {
  content: "";
  position: relative;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  top: -30px;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mid {
  color: #eee4e1;
  position: relative;
  display: flex;
  gap: 20px;
  right: 10px;
  top: 15px;
}
p {
  color: inheritl;
}

.wall {
  background-color: #242526;
  width: 40%;
  padding-top: 20px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70%;
 
}
.words {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-left: 15px;
  border-left: 1px solid #606060;
}
.name {
  margin-left: 10px;
}

.date {
  color: #8f8f8f;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 13px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #e5e5e5;
}

.info {
  display: flex;
}

.burger {
  display: flex;
  flex-direction: column;
  height: 12px;
  justify-content: space-between;
  margin-top: auto;
  margin-left: 330px;
  margin-bottom: auto;
}
.burger div {
  width: 15px;
  height: 2px;
  background-color: #8f8f8f;
  border-radius: 20px;
}

@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.wobble-horizontal:hover,
.wobble-horizontal:focus,
.wobble-horizontal:active {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
